Require Import Coq.Lists.List.
Require Import Coq.Strings.String.
Require Import Io.All.
Require Import Io.System.All.
Require Import ListString.All.

Require Import NumberRendering.
Require Import Blocki.

Import ListNotations.
Import C.Notations.

Open Scope string_scope.

(** Definition of the data type for the password composition policy enforcement
    software configuration parameters. From first to last, parameters function
    as follows:

    - {{ config_param_descs }}
  *)
Definition Configuration : Type :=
  ({{ config_param_types }}).

(** Transforms a tuple containing software-specific configuration parameters
    to a list of meta-rules.
    - [config] is the tuple to transform
  *)
Definition transform (config : Configuration) : list MetaRule :=
  match config with
  | ({{ config_param_names }}) => []
  end.

(** Checks that a given password complies with every meta-rule in a list.
    - [rules] is the list of meta-rules
    - [pwd] is the password
  *)
Fixpoint complies_all (rules : list MetaRule) (pwd : string) : bool :=
  match rules with
  | rule :: rules' => rule pwd && complies_all rules' pwd
  | _ => true
  end.

(** Determines and prints Boolean compliance for passwords given as input.
    - [rules] is the list of meta-rules given passwords must comply with
    - [n] is the number of passwords to take as input
  *)
Fixpoint determine (rules : list MetaRule) (n : nat) : C.t System.effect unit :=
  match n with
  | S n' =>
    let! pwd_in := System.read_line in
    match pwd_in with
    | None => ret tt
    | Some pwd_in' =>
      let pwd := LString.to_string pwd_in' in
      let msg := if complies_all rules pwd then "true" else "false" in
      do! System.log (LString.s msg) in
      determine rules n'
    end
  | Z => ret tt
  end.

(** Looks up a configuration parameters tuple by name.
    - [name] is the name of the tuple to look up
  *)
Definition lookup_config (name : string) : option Configuration :=
  match name with
  (* {{ config_lookups }} *)
  | _ => None
  end.

(** The main method of the application.
    - [argv] is the list of command-line arguments
  *)
Definition authority (argv : list LString.t) : C.t System.effect unit :=
  match argv with
  | _ :: config_name :: count :: [] =>
    match lookup_config (LString.to_string config_name) with
      | Some config =>
        determine (transform config) (nat_of_string (LString.to_string count))
      | None => ret tt
    end
  | _ => ret tt
  end.


Definition main := Extraction.launch authority.
Extraction "authority" main.
